.blog_item {
  background-color: #eeeeee;
  p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @extend %paragraph-p-elem;
  }
  .sliding_btn {
    svg {
      fill: get-color(primary);
    }
  }
}
